body {
  background: #ecf3f3;
}
.particle {
  position: absolute;
  border-radius: 50%;
}
/* 파티클이 생성되는 위치를 조정하려면 transform 속성값의 random함수 내의 수치를 조절하면 됨 */
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(1vw, 9vh, 18px);
 }
}
.particle:nth-child(1) {
  animation: particle-animation-1 3s infinite;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  animation-delay: -0.2s;
  transform: translate3d(37vw, 18vh, 92px);
  background: #4426d9;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(34vw, 6vh, 25px);
 }
}
.particle:nth-child(2) {
  animation: particle-animation-2 3s infinite;
  opacity: 0.95;
  height: 7px;
  width: 7px;
  animation-delay: -0.4s;
  transform: translate3d(18vw, 23vh, 26px);
  background: #d92653;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(57vw, 2vh, 68px);
 }
}
.particle:nth-child(3) {
  animation: particle-animation-3 3s infinite;
  opacity: 0.99;
  height: 8px;
  width: 8px;
  animation-delay: -0.6s;
  transform: translate3d(15vw, 21vh, 88px);
  background: #26acd9;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(22vw, 10vh, 17px);
 }
}
.particle:nth-child(4) {
  animation: particle-animation-4 3s infinite;
  opacity: 0.61;
  height: 10px;
  width: 10px;
  animation-delay: -0.8s;
  transform: translate3d(21vw, 18vh, 50px);
  background: #26d9d9;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(58vw, 5vh, 80px);
 }
}
.particle:nth-child(5) {
  animation: particle-animation-5 3s infinite;
  opacity: 0.58;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(32vw, 10vh, 97px);
  background: #26d93e;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(49vw, 4vh, 56px);
 }
}
.particle:nth-child(6) {
  animation: particle-animation-6 3s infinite;
  opacity: 0.59;
  height: 9px;
  width: 9px;
  animation-delay: -1.2s;
  transform: translate3d(28vw, 19vh, 78px);
  background: #d98226;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(70vw, 2vh, 19px);
 }
}
.particle:nth-child(7) {
  animation: particle-animation-7 3s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(19vw, 14vh, 1px);
  background: #d92647;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(19vw, 17vh, 22px);
 }
}
.particle:nth-child(8) {
  animation: particle-animation-8 3s infinite;
  opacity: 0.03;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(46vw, 3vh, 7px);
  background: #26d926;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(62vw, 10vh, 43px);
 }
}
.particle:nth-child(9) {
  animation: particle-animation-9 3s infinite;
  opacity: 0.4;
  height: 7px;
  width: 7px;
  animation-delay: -1.8s;
  transform: translate3d(61vw, 6vh, 57px);
  background: #26d982;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(15vw, 17vh, 36px);
 }
}
.particle:nth-child(10) {
  animation: particle-animation-10 3s infinite;
  opacity: 0.2;
  height: 7px;
  width: 7px;
  animation-delay: -2s;
  transform: translate3d(15vw, 26vh, 63px);
  background: #8e26d9;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(4vw, 12vh, 80px);
 }
}
.particle:nth-child(11) {
  animation: particle-animation-11 3s infinite;
  opacity: 0.3;
  height: 6px;
  width: 6px;
  animation-delay: -2.2s;
  transform: translate3d(14vw, 27vh, 12px);
  background: #d94d26;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(64vw, 22vh, 6px);
 }
}
.particle:nth-child(12) {
  animation: particle-animation-12 3s infinite;
  opacity: 0.64;
  height: 8px;
  width: 8px;
  animation-delay: -2.4s;
  transform: translate3d(44vw, 8vh, 77px);
  background: #d926a3;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(48vw, 25vh, 73px);
 }
}
.particle:nth-child(13) {
  animation: particle-animation-13 3s infinite;
  opacity: 0.04;
  height: 8px;
  width: 8px;
  animation-delay: -2.6s;
  transform: translate3d(14vw, 16vh, 19px);
  background: #d92c26;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(27vw, 11vh, 66px);
 }
}
.particle:nth-child(14) {
  animation: particle-animation-14 3s infinite;
  opacity: 0.64;
  height: 7px;
  width: 7px;
  animation-delay: -2.8s;
  transform: translate3d(42vw, 17vh, 65px);
  background: #26c4d9;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(58vw, 16vh, 39px);
 }
}
.particle:nth-child(15) {
  animation: particle-animation-15 3s infinite;
  opacity: 0.11;
  height: 8px;
  width: 8px;
  animation-delay: -3s;
  transform: translate3d(12vw, 4vh, 54px);
  background: #2697d9;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(20vw, 27vh, 38px);
 }
}
.particle:nth-child(16) {
  animation: particle-animation-16 3s infinite;
  opacity: 0.73;
  height: 6px;
  width: 6px;
  animation-delay: -3.2s;
  transform: translate3d(58vw, 8vh, 58px);
  background: #d9267a;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(53vw, 15vh, 89px);
 }
}
.particle:nth-child(17) {
  animation: particle-animation-17 3s infinite;
  opacity: 0.48;
  height: 7px;
  width: 7px;
  animation-delay: -3.4s;
  transform: translate3d(25vw, 22vh, 14px);
  background: #26d929;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(38vw, 22vh, 2px);
 }
}
.particle:nth-child(18) {
  animation: particle-animation-18 3s infinite;
  opacity: 0.53;
  height: 9px;
  width: 9px;
  animation-delay: -3.6s;
  transform: translate3d(9vw, 26vh, 13px);
  background: #d9a026;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(55vw, 9vh, 15px);
 }
}
.particle:nth-child(19) {
  animation: particle-animation-19 3s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  animation-delay: -3.8s;
  transform: translate3d(22vw, 1vh, 54px);
  background: #26d929;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(43vw, 4vh, 19px);
 }
}
.particle:nth-child(20) {
  animation: particle-animation-20 3s infinite;
  opacity: 0.91;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(27vw, 20vh, 25px);
  background: #9a26d9;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(69vw, 20vh, 72px);
 }
}
.particle:nth-child(21) {
  animation: particle-animation-21 3s infinite;
  opacity: 0.06;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(46vw, 15vh, 98px);
  background: #afd926;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(58vw, 3vh, 44px);
 }
}
.particle:nth-child(22) {
  animation: particle-animation-22 3s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  animation-delay: -4.4s;
  transform: translate3d(7vw, 30vh, 11px);
  background: #26d997;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(49vw, 7vh, 9px);
 }
}
.particle:nth-child(23) {
  animation: particle-animation-23 3s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(69vw, 15vh, 59px);
  background: #7dd926;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(40vw, 14vh, 37px);
 }
}
.particle:nth-child(24) {
  animation: particle-animation-24 3s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  animation-delay: -4.8s;
  transform: translate3d(16vw, 7vh, 28px);
  background: #d98b26;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(4vw, 25vh, 71px);
 }
}
.particle:nth-child(25) {
  animation: particle-animation-25 3s infinite;
  opacity: 0.72;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(37vw, 6vh, 29px);
  background: #26bbd9;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(38vw, 19vh, 72px);
 }
}
.particle:nth-child(26) {
  animation: particle-animation-26 3s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  animation-delay: -5.2s;
  transform: translate3d(65vw, 12vh, 16px);
  background: #2653d9;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(46vw, 11vh, 99px);
 }
}
.particle:nth-child(27) {
  animation: particle-animation-27 3s infinite;
  opacity: 0.15;
  height: 7px;
  width: 7px;
  animation-delay: -5.4s;
  transform: translate3d(3vw, 1vh, 45px);
  background: #d92650;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(26vw, 6vh, 2px);
 }
}
.particle:nth-child(28) {
  animation: particle-animation-28 3s infinite;
  opacity: 0.41;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(11vw, 11vh, 81px);
  background: #59d926;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(13vw, 23vh, 90px);
 }
}
.particle:nth-child(29) {
  animation: particle-animation-29 3s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(62vw, 5vh, 71px);
  background: #7426d9;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(67vw, 21vh, 70px);
 }
}
.particle:nth-child(30) {
  animation: particle-animation-30 3s infinite;
  opacity: 0.08;
  height: 7px;
  width: 7px;
  animation-delay: -6s;
  transform: translate3d(28vw, 27vh, 20px);
  background: #26d96b;
}
@keyframes particle-animation-31 {
  100% {
    transform: translate3d(31vw, 26vh, 58px);
 }
}
.particle:nth-child(31) {
  animation: particle-animation-31 3s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  animation-delay: -6.2s;
  transform: translate3d(12vw, 28vh, 40px);
  background: #c4d926;
}
@keyframes particle-animation-32 {
  100% {
    transform: translate3d(47vw, 22vh, 39px);
 }
}
.particle:nth-child(32) {
  animation: particle-animation-32 3s infinite;
  opacity: 0.72;
  height: 9px;
  width: 9px;
  animation-delay: -6.4s;
  transform: translate3d(45vw, 11vh, 48px);
  background: #d94426;
}
@keyframes particle-animation-33 {
  100% {
    transform: translate3d(22vw, 8vh, 16px);
 }
}
.particle:nth-child(33) {
  animation: particle-animation-33 3s infinite;
  opacity: 0.76;
  height: 8px;
  width: 8px;
  animation-delay: -6.6s;
  transform: translate3d(70vw, 22vh, 80px);
  background: #26afd9;
}
@keyframes particle-animation-34 {
  100% {
    transform: translate3d(60vw, 13vh, 94px);
 }
}
.particle:nth-child(34) {
  animation: particle-animation-34 3s infinite;
  opacity: 0.66;
  height: 8px;
  width: 8px;
  animation-delay: -6.8s;
  transform: translate3d(65vw, 28vh, 17px);
  background: #59d926;
}
@keyframes particle-animation-35 {
  100% {
    transform: translate3d(17vw, 14vh, 31px);
 }
}
.particle:nth-child(35) {
  animation: particle-animation-35 3s infinite;
  opacity: 0.5;
  height: 10px;
  width: 10px;
  animation-delay: -7s;
  transform: translate3d(59vw, 26vh, 86px);
  background: #269ad9;
}
@keyframes particle-animation-36 {
  100% {
    transform: translate3d(53vw, 16vh, 28px);
 }
}
.particle:nth-child(36) {
  animation: particle-animation-36 3s infinite;
  opacity: 0.01;
  height: 9px;
  width: 9px;
  animation-delay: -7.2s;
  transform: translate3d(32vw, 7vh, 89px);
  background: #3226d9;
}
@keyframes particle-animation-37 {
  100% {
    transform: translate3d(54vw, 13vh, 66px);
 }
}
.particle:nth-child(37) {
  animation: particle-animation-37 3s infinite;
  opacity: 0.52;
  height: 9px;
  width: 9px;
  animation-delay: -7.4s;
  transform: translate3d(38vw, 10vh, 72px);
  background: #d9266e;
}
@keyframes particle-animation-38 {
  100% {
    transform: translate3d(44vw, 2vh, 7px);
 }
}
.particle:nth-child(38) {
  animation: particle-animation-38 3s infinite;
  opacity: 0.48;
  height: 7px;
  width: 7px;
  animation-delay: -7.6s;
  transform: translate3d(33vw, 30vh, 100px);
  background: #d9a926;
}
@keyframes particle-animation-39 {
  100% {
    transform: translate3d(1vw, 9vh, 77px);
 }
}
.particle:nth-child(39) {
  animation: particle-animation-39 3s infinite;
  opacity: 0.1;
  height: 10px;
  width: 10px;
  animation-delay: -7.8s;
  transform: translate3d(31vw, 22vh, 13px);
  background: #26bbd9;
}
@keyframes particle-animation-40 {
  100% {
    transform: translate3d(39vw, 9vh, 87px);
 }
}
.particle:nth-child(40) {
  animation: particle-animation-40 3s infinite;
  opacity: 0.02;
  height: 10px;
  width: 10px;
  animation-delay: -8s;
  transform: translate3d(18vw, 12vh, 45px);
  background: #d98526;
}
@keyframes particle-animation-41 {
  100% {
    transform: translate3d(17vw, 20vh, 55px);
 }
}
.particle:nth-child(41) {
  animation: particle-animation-41 3s infinite;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  animation-delay: -8.2s;
  transform: translate3d(2vw, 20vh, 26px);
  background: #d926a6;
}
@keyframes particle-animation-42 {
  100% {
    transform: translate3d(48vw, 7vh, 4px);
 }
}
.particle:nth-child(42) {
  animation: particle-animation-42 3s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -8.4s;
  transform: translate3d(29vw, 9vh, 89px);
  background: #267dd9;
}
@keyframes particle-animation-43 {
  100% {
    transform: translate3d(47vw, 16vh, 41px);
 }
}
.particle:nth-child(43) {
  animation: particle-animation-43 3s infinite;
  opacity: 0.25;
  height: 9px;
  width: 9px;
  animation-delay: -8.6s;
  transform: translate3d(35vw, 11vh, 40px);
  background: #b5d926;
}
@keyframes particle-animation-44 {
  100% {
    transform: translate3d(54vw, 6vh, 80px);
 }
}
.particle:nth-child(44) {
  animation: particle-animation-44 3s infinite;
  opacity: 0.19;
  height: 7px;
  width: 7px;
  animation-delay: -8.8s;
  transform: translate3d(19vw, 4vh, 71px);
  background: #26d938;
}
@keyframes particle-animation-45 {
  100% {
    transform: translate3d(26vw, 1vh, 64px);
 }
}
.particle:nth-child(45) {
  animation: particle-animation-45 3s infinite;
  opacity: 0.7;
  height: 8px;
  width: 8px;
  animation-delay: -9s;
  transform: translate3d(13vw, 16vh, 10px);
  background: #d9b826;
}
@keyframes particle-animation-46 {
  100% {
    transform: translate3d(51vw, 10vh, 40px);
 }
}
.particle:nth-child(46) {
  animation: particle-animation-46 3s infinite;
  opacity: 0.03;
  height: 10px;
  width: 10px;
  animation-delay: -9.2s;
  transform: translate3d(16vw, 2vh, 38px);
  background: #26d9b8;
}
@keyframes particle-animation-47 {
  100% {
    transform: translate3d(13vw, 22vh, 22px);
 }
}
.particle:nth-child(47) {
  animation: particle-animation-47 3s infinite;
  opacity: 0.76;
  height: 9px;
  width: 9px;
  animation-delay: -9.4s;
  transform: translate3d(38vw, 4vh, 44px);
  background: #26d3d9;
}
@keyframes particle-animation-48 {
  100% {
    transform: translate3d(39vw, 9vh, 100px);
 }
}
.particle:nth-child(48) {
  animation: particle-animation-48 3s infinite;
  opacity: 0.06;
  height: 10px;
  width: 10px;
  animation-delay: -9.6s;
  transform: translate3d(45vw, 24vh, 31px);
  background: #44d926;
}
@keyframes particle-animation-49 {
  100% {
    transform: translate3d(31vw, 16vh, 43px);
 }
}
.particle:nth-child(49) {
  animation: particle-animation-49 3s infinite;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  animation-delay: -9.8s;
  transform: translate3d(29vw, 21vh, 52px);
  background: #d9263e;
}
@keyframes particle-animation-50 {
  100% {
    transform: translate3d(33vw, 3vh, 99px);
 }
}
.particle:nth-child(50) {
  animation: particle-animation-50 3s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  animation-delay: -10s;
  transform: translate3d(41vw, 21vh, 66px);
  background: #c426d9;
}
@keyframes particle-animation-51 {
  100% {
    transform: translate3d(30vw, 15vh, 73px);
 }
}
.particle:nth-child(51) {
  animation: particle-animation-51 3s infinite;
  opacity: 0.64;
  height: 9px;
  width: 9px;
  animation-delay: -10.2s;
  transform: translate3d(21vw, 4vh, 27px);
  background: #d93e26;
}
@keyframes particle-animation-52 {
  100% {
    transform: translate3d(65vw, 19vh, 28px);
 }
}
.particle:nth-child(52) {
  animation: particle-animation-52 3s infinite;
  opacity: 0.59;
  height: 10px;
  width: 10px;
  animation-delay: -10.4s;
  transform: translate3d(37vw, 22vh, 10px);
  background: #d92926;
}
@keyframes particle-animation-53 {
  100% {
    transform: translate3d(42vw, 5vh, 14px);
 }
}
.particle:nth-child(53) {
  animation: particle-animation-53 3s infinite;
  opacity: 0.88;
  height: 8px;
  width: 8px;
  animation-delay: -10.6s;
  transform: translate3d(51vw, 9vh, 57px);
  background: #26b2d9;
}
@keyframes particle-animation-54 {
  100% {
    transform: translate3d(58vw, 25vh, 67px);
 }
}
.particle:nth-child(54) {
  animation: particle-animation-54 3s infinite;
  opacity: 0.01;
  height: 9px;
  width: 9px;
  animation-delay: -10.8s;
  transform: translate3d(12vw, 14vh, 46px);
  background: #d96b26;
}
@keyframes particle-animation-55 {
  100% {
    transform: translate3d(57vw, 18vh, 59px);
 }
}
.particle:nth-child(55) {
  animation: particle-animation-55 3s infinite;
  opacity: 0.36;
  height: 6px;
  width: 6px;
  animation-delay: -11s;
  transform: translate3d(15vw, 9vh, 6px);
  background: #ac26d9;
}
@keyframes particle-animation-56 {
  100% {
    transform: translate3d(34vw, 13vh, 55px);
 }
}
.particle:nth-child(56) {
  animation: particle-animation-56 3s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  animation-delay: -11.2s;
  transform: translate3d(56vw, 19vh, 36px);
  background: #d9262c;
}
@keyframes particle-animation-57 {
  100% {
    transform: translate3d(26vw, 17vh, 48px);
 }
}
.particle:nth-child(57) {
  animation: particle-animation-57 3s infinite;
  opacity: 0.9;
  height: 10px;
  width: 10px;
  animation-delay: -11.4s;
  transform: translate3d(56vw, 14vh, 65px);
  background: #7d26d9;
}
@keyframes particle-animation-58 {
  100% {
    transform: translate3d(7vw, 26vh, 68px);
 }
}
.particle:nth-child(58) {
  animation: particle-animation-58 3s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  animation-delay: -11.6s;
  transform: translate3d(7vw, 5vh, 22px);
  background: #d926bb;
}
@keyframes particle-animation-59 {
  100% {
    transform: translate3d(25vw, 26vh, 73px);
 }
}
.particle:nth-child(59) {
  animation: particle-animation-59 3s infinite;
  opacity: 0.3;
  height: 6px;
  width: 6px;
  animation-delay: -11.8s;
  transform: translate3d(1vw, 17vh, 12px);
  background: #97d926;
}
@keyframes particle-animation-60 {
  100% {
    transform: translate3d(61vw, 20vh, 80px);
 }
}
.particle:nth-child(60) {
  animation: particle-animation-60 3s infinite;
  opacity: 0.42;
  height: 7px;
  width: 7px;
  animation-delay: -12s;
  transform: translate3d(27vw, 1vh, 60px);
  background: #d95926;
}
@keyframes particle-animation-61 {
  100% {
    transform: translate3d(33vw, 11vh, 81px);
 }
}
.particle:nth-child(61) {
  animation: particle-animation-61 3s infinite;
  opacity: 0.44;
  height: 7px;
  width: 7px;
  animation-delay: -12.2s;
  transform: translate3d(64vw, 3vh, 2px);
  background: #d95926;
}
@keyframes particle-animation-62 {
  100% {
    transform: translate3d(27vw, 22vh, 16px);
 }
}
.particle:nth-child(62) {
  animation: particle-animation-62 3s infinite;
  opacity: 0.18;
  height: 10px;
  width: 10px;
  animation-delay: -12.4s;
  transform: translate3d(53vw, 3vh, 32px);
  background: #26d93e;
}
@keyframes particle-animation-63 {
  100% {
    transform: translate3d(25vw, 16vh, 36px);
 }
}
.particle:nth-child(63) {
  animation: particle-animation-63 3s infinite;
  opacity: 0.82;
  height: 7px;
  width: 7px;
  animation-delay: -12.6s;
  transform: translate3d(41vw, 22vh, 53px);
  background: #d92677;
}
@keyframes particle-animation-64 {
  100% {
    transform: translate3d(48vw, 6vh, 53px);
 }
}
.particle:nth-child(64) {
  animation: particle-animation-64 3s infinite;
  opacity: 0.66;
  height: 9px;
  width: 9px;
  animation-delay: -12.8s;
  transform: translate3d(27vw, 28vh, 21px);
  background: #26d977;
}
@keyframes particle-animation-65 {
  100% {
    transform: translate3d(10vw, 10vh, 94px);
 }
}
.particle:nth-child(65) {
  animation: particle-animation-65 3s infinite;
  opacity: 0.92;
  height: 6px;
  width: 6px;
  animation-delay: -13s;
  transform: translate3d(55vw, 4vh, 3px);
  background: #74d926;
}
@keyframes particle-animation-66 {
  100% {
    transform: translate3d(42vw, 10vh, 8px);
 }
}
.particle:nth-child(66) {
  animation: particle-animation-66 3s infinite;
  opacity: 0.42;
  height: 7px;
  width: 7px;
  animation-delay: -13.2s;
  transform: translate3d(59vw, 14vh, 1px);
  background: #d926cd;
}
@keyframes particle-animation-67 {
  100% {
    transform: translate3d(28vw, 1vh, 98px);
 }
}
.particle:nth-child(67) {
  animation: particle-animation-67 3s infinite;
  opacity: 0.36;
  height: 7px;
  width: 7px;
  animation-delay: -13.4s;
  transform: translate3d(42vw, 9vh, 47px);
  background: #26d3d9;
}
@keyframes particle-animation-68 {
  100% {
    transform: translate3d(40vw, 3vh, 17px);
 }
}
.particle:nth-child(68) {
  animation: particle-animation-68 3s infinite;
  opacity: 0.38;
  height: 6px;
  width: 6px;
  animation-delay: -13.6s;
  transform: translate3d(59vw, 4vh, 69px);
  background: #4ad926;
}
@keyframes particle-animation-69 {
  100% {
    transform: translate3d(50vw, 5vh, 57px);
 }
}
.particle:nth-child(69) {
  animation: particle-animation-69 3s infinite;
  opacity: 0.59;
  height: 9px;
  width: 9px;
  animation-delay: -13.8s;
  transform: translate3d(43vw, 8vh, 82px);
  background: #d93b26;
}
@keyframes particle-animation-70 {
  100% {
    transform: translate3d(37vw, 3vh, 21px);
 }
}
.particle:nth-child(70) {
  animation: particle-animation-70 3s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -14s;
  transform: translate3d(25vw, 19vh, 49px);
  background: #c426d9;
}
@keyframes particle-animation-71 {
  100% {
    transform: translate3d(64vw, 11vh, 34px);
 }
}
.particle:nth-child(71) {
  animation: particle-animation-71 3s infinite;
  opacity: 0.8;
  height: 6px;
  width: 6px;
  animation-delay: -14.2s;
  transform: translate3d(30vw, 15vh, 77px);
  background: #3bd926;
}
@keyframes particle-animation-72 {
  100% {
    transform: translate3d(51vw, 22vh, 52px);
 }
}
.particle:nth-child(72) {
  animation: particle-animation-72 3s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  animation-delay: -14.4s;
  transform: translate3d(62vw, 9vh, 86px);
  background: #9126d9;
}
@keyframes particle-animation-73 {
  100% {
    transform: translate3d(27vw, 25vh, 93px);
 }
}
.particle:nth-child(73) {
  animation: particle-animation-73 3s infinite;
  opacity: 0.14;
  height: 10px;
  width: 10px;
  animation-delay: -14.6s;
  transform: translate3d(52vw, 27vh, 38px);
  background: #d9c126;
}
@keyframes particle-animation-74 {
  100% {
    transform: translate3d(4vw, 26vh, 28px);
 }
}
.particle:nth-child(74) {
  animation: particle-animation-74 3s infinite;
  opacity: 0.65;
  height: 9px;
  width: 9px;
  animation-delay: -14.8s;
  transform: translate3d(25vw, 12vh, 100px);
  background: #d926a0;
}
@keyframes particle-animation-75 {
  100% {
    transform: translate3d(70vw, 17vh, 92px);
 }
}
.particle:nth-child(75) {
  animation: particle-animation-75 3s infinite;
  opacity: 0.98;
  height: 6px;
  width: 6px;
  animation-delay: -15s;
  transform: translate3d(27vw, 28vh, 5px);
  background: #a926d9;
}
@keyframes particle-animation-76 {
  100% {
    transform: translate3d(46vw, 13vh, 86px);
 }
}
.particle:nth-child(76) {
  animation: particle-animation-76 3s infinite;
  opacity: 0.59;
  height: 9px;
  width: 9px;
  animation-delay: -15.2s;
  transform: translate3d(67vw, 21vh, 41px);
  background: #d926af;
}
@keyframes particle-animation-77 {
  100% {
    transform: translate3d(65vw, 26vh, 7px);
 }
}
.particle:nth-child(77) {
  animation: particle-animation-77 3s infinite;
  opacity: 0.66;
  height: 6px;
  width: 6px;
  animation-delay: -15.4s;
  transform: translate3d(3vw, 10vh, 37px);
  background: #26d95f;
}
@keyframes particle-animation-78 {
  100% {
    transform: translate3d(53vw, 23vh, 9px);
 }
}
.particle:nth-child(78) {
  animation: particle-animation-78 3s infinite;
  opacity: 0.03;
  height: 10px;
  width: 10px;
  animation-delay: -15.6s;
  transform: translate3d(5vw, 14vh, 77px);
  background: #d926be;
}
@keyframes particle-animation-79 {
  100% {
    transform: translate3d(34vw, 10vh, 72px);
 }
}
.particle:nth-child(79) {
  animation: particle-animation-79 3s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  animation-delay: -15.8s;
  transform: translate3d(27vw, 7vh, 47px);
  background: #56d926;
}
@keyframes particle-animation-80 {
  100% {
    transform: translate3d(44vw, 17vh, 99px);
 }
}
.particle:nth-child(80) {
  animation: particle-animation-80 3s infinite;
  opacity: 0.37;
  height: 8px;
  width: 8px;
  animation-delay: -16s;
  transform: translate3d(26vw, 27vh, 40px);
  background: #4dd926;
}
@keyframes particle-animation-81 {
  100% {
    transform: translate3d(20vw, 19vh, 4px);
 }
}
.particle:nth-child(81) {
  animation: particle-animation-81 3s infinite;
  opacity: 0.41;
  height: 8px;
  width: 8px;
  animation-delay: -16.2s;
  transform: translate3d(35vw, 17vh, 59px);
  background: #d92662;
}
@keyframes particle-animation-82 {
  100% {
    transform: translate3d(54vw, 28vh, 38px);
 }
}
.particle:nth-child(82) {
  animation: particle-animation-82 3s infinite;
  opacity: 0.19;
  height: 10px;
  width: 10px;
  animation-delay: -16.4s;
  transform: translate3d(9vw, 1vh, 33px);
  background: #26d944;
}
@keyframes particle-animation-83 {
  100% {
    transform: translate3d(39vw, 30vh, 42px);
 }
}
.particle:nth-child(83) {
  animation: particle-animation-83 3s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  animation-delay: -16.6s;
  transform: translate3d(9vw, 10vh, 16px);
  background: #d9af26;
}
@keyframes particle-animation-84 {
  100% {
    transform: translate3d(18vw, 22vh, 42px);
 }
}
.particle:nth-child(84) {
  animation: particle-animation-84 3s infinite;
  opacity: 0.94;
  height: 6px;
  width: 6px;
  animation-delay: -16.8s;
  transform: translate3d(65vw, 2vh, 9px);
  background: #26d974;
}
@keyframes particle-animation-85 {
  100% {
    transform: translate3d(35vw, 14vh, 88px);
 }
}
.particle:nth-child(85) {
  animation: particle-animation-85 3s infinite;
  opacity: 0.56;
  height: 10px;
  width: 10px;
  animation-delay: -17s;
  transform: translate3d(37vw, 28vh, 51px);
  background: #d926be;
}
@keyframes particle-animation-86 {
  100% {
    transform: translate3d(46vw, 9vh, 32px);
 }
}
.particle:nth-child(86) {
  animation: particle-animation-86 3s infinite;
  opacity: 0.86;
  height: 6px;
  width: 6px;
  animation-delay: -17.2s;
  transform: translate3d(52vw, 22vh, 67px);
  background: #4426d9;
}
@keyframes particle-animation-87 {
  100% {
    transform: translate3d(55vw, 30vh, 34px);
 }
}
.particle:nth-child(87) {
  animation: particle-animation-87 3s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  animation-delay: -17.4s;
  transform: translate3d(47vw, 18vh, 69px);
  background: #d0d926;
}
@keyframes particle-animation-88 {
  100% {
    transform: translate3d(13vw, 1vh, 48px);
 }
}
.particle:nth-child(88) {
  animation: particle-animation-88 3s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  animation-delay: -17.6s;
  transform: translate3d(26vw, 8vh, 25px);
  background: #85d926;
}
@keyframes particle-animation-89 {
  100% {
    transform: translate3d(54vw, 16vh, 73px);
 }
}
.particle:nth-child(89) {
  animation: particle-animation-89 3s infinite;
  opacity: 0.47;
  height: 7px;
  width: 7px;
  animation-delay: -17.8s;
  transform: translate3d(41vw, 26vh, 60px);
  background: #a326d9;
}
@keyframes particle-animation-90 {
  100% {
    transform: translate3d(47vw, 3vh, 36px);
 }
}
.particle:nth-child(90) {
  animation: particle-animation-90 3s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  animation-delay: -18s;
  transform: translate3d(26vw, 8vh, 25px);
  background: #26d93b;
}
